---
import { getCollection } from "astro:content";
import AllLayout from "../../layouts/AllLayout.astro";
import type { CollectionEntry } from "astro:content";
import GoBackButton from "../../components/GoBackButton.astro";
import Tag from "../../components/Tag";
import { BsGithub } from "react-icons/bs";

export const getStaticPaths = async () => {
    const projects = await getCollection("project")
    const paths = projects.map((project) => {
        return {
            params: {
                slug: project.slug
            },
            props: {
                project            
            }
        }
    })
    return paths
}
type Props = {
    project: CollectionEntry<"project">
}

const {project} = Astro.props
const {Content} = await project.render()

---

<AllLayout title={`Projeto | ${project.slug}`}>
    <header class="w-full flex flex-col items-center justify-between px-8 pt-20 pb-4 relative gap-8">
        <h1 class="text-7xl max-md:text-5xl font-extrabold text-center">{project.data.title}</h1>
        <div class="w-full flex flex-col items-center gap-4">
      
        <div class="flex items-center gap-4">
            {project.data.tags.map((tag) => (
                <Tag tag={tag}/>
            ))}
        </div>
        <span class="text-xl font-bold absolute top-2 right-2">{project.data.projectType}</span>
        <a href="">
            <BsGithub className="text-white" size={32}/>
        </a>
       </div>
        <GoBackButton/>
    </header>
    <section class="w-full flex justify-center items-center px-4">
        <img src={project.data.video} alt="Gif" class="w-[1000px]"/>
    </section>
    

    <article class="w-full prose prose-white prose-headings:text-white prose-xl overflow-visible relative mb-4 prose-st: flex flex-col justify-center text-white mx-auto mt-16 px-4">
        <Content/>
    </article>
</AllLayout>