---
import { Image } from "astro:assets";
import { formattedDate } from "../../utils/formatDate";


type Props = {
    title: string
    description: string
    projectType: string
    card_image: {
        src: string;
        width: number;
        height: number;
        format: "png" | "jpg" | "jpeg" | "tiff" | "webp" | "gif" | "svg" | "avif";
    };
    tags: Array<string>
    date: Date
}

const {title, description, card_image, tags, projectType, date} = Astro.props

const formatted = formattedDate(date, { typeOfAnswer: "year" });
---

<div class="relative w-full max-sm:w-full h-full bg-zinc-800 rounded-xl flex flex-col shadow-xl hover:scale-110 duration-300 ease-in-out transition-all cursor-pointer max-sm:hover:scale-100 font-roboto">
    <div class="w-full h-full bg-slate-950 rounded overflow-hidden">
        {card_image && (
            <Image src={card_image} alt="card image" class="w-full h-full object-cover"/>
        )}
    </div>
    <div class="absolute inset-0 bg-black bg-opacity-75 text-white opacity-0 hover:opacity-100 flex flex-col justify-center items-center p-4 transition-opacity duration-300 ease-in-out rounded">
        <p class="text-sm mb-4 uppercase">{projectType}</p>
        <h3 class="text-4xl font-bold mb-2">{title}</h3>
        <p class="text-sm mb-4">{description}</p>
 
        <div class="text-sm mb-2">
            <span class="font-semibold "> {tags.join(', ')}</span>
        </div>
        <div class="text-sm">
            <span class="font-semibold">{formatted}</span>
        </div>
    </div>
</div>



