---
import BlogPostCard from "../components/BlogPostCard.astro";
import AllLayout from "../layouts/AllLayout.astro";
import {getCollection, type CollectionEntry} from "astro:content"
import GoBackButton from "../components/GoBackButton.astro";
import article from "../../public/article.svg"
import Tag from "../components/Tag";
import { ArrowBendDownLeft } from "phosphor-react";

const posts = await getCollection("post")

const uniqueTags: string[] = [];
posts.forEach((post) => {
    post.data.tags.forEach((tag) => {
        if (!uniqueTags.includes(tag)) {
            uniqueTags.push(tag);
        }
    });
});
---

<AllLayout title="Meus Posts" transition:animate={"fade"}>
    <header class="bg-neutral-800 flex items-center justify-around w-full font-rubik gap-4 py-6 px-4 relative shadow-2xl ">
        <div class="flex flex-col gap-4 max-lg:items-center max-lg:justify-center max-lg:w-full max-sm:items-start">
            <a href="javascript:history.back()" class="hidden max-sm:block" >
                <button class="flex items-center gap-2 bg-tag-2 px-4 py-2 rounded-lg hover:brightness-75">
                    <ArrowBendDownLeft size={22} />
                    Voltar
                </button>
            </a>
            <h1 class="text-8xl max-[975px]:text-6xl max-sm:text-5xl font-bold drop-shadow-xl">Meus posts.</h1>
            <p>Discover stories, thinking, and expertise from writers on any topic.</p>
        </div>
        <img src={article.src} alt="Blog Header" class="max-lg:hidden" width={400} height={400}/>
        
        <span class="max-sm:hidden">
            <GoBackButton/>
        </span>
    </header>
   <section class="w-full mx-auto my-0 py-4 px-2 flex justify-around gap-8 max-lg:flex-col-reverse max-lg:items-center">
        <div class="flex flex-col gap-12 ">
            {posts.map((post) => (
                <a href={`/post/${post.slug}`}>
                    <BlogPostCard title={post.data.title} description={post.data.description} tags={post.data.tags} date={post.data.date} card_image={post.data.card_image} body={post.body}/>
                </a>
            ))}
        </div>
        <aside class="w-[400px] max-lg:relative max-lg:w-[700px] max-md:w-full h-fit rounded-xl p-4 sticky top-4 flex flex-col gap-4">
            <h2 class="text-lg max-lg:text-xl font-bold">Principais assuntos dos artigos</h2>
                <div class="flex flex-wrap gap-4">
                    {uniqueTags.map((tag) => (
                        <Tag tag={tag}/>
                    ))}
                </div>

        </aside>
   </section>
</AllLayout>