---
import { formattedDate } from "../utils/formatDate";
import Tag from "./Tag";

type Props = {
    title: string
    description: string
    projectType: string
    card_img: string
    tags: Array<string>
    date: Date
}

const {title, description, card_img, tags, projectType, date} = Astro.props

const formatted = formattedDate(date, { typeOfAnswer: "year" });
---

<div class="w-[361px] h-[369px] bg-all-header rounded-lg flex flex-col gap-2 shadow-xl hover:scale-110 duration-300 ease-in-out transition-all cursor-pointer">
    <header class="w-full px-6 pt-4 flex items-center justify-between">
        <div class="rounded-full border-2 border-light-border px-4 py-2 bg-tag-2">{projectType}</div>
        <div class="rounded-full border-2 border-light-border px-4 py-2 bg-tag-3 font-bold text-sm">{formatted}</div>
    </header>
    <div class="w-full flex flex-col px-6 gap-4">
        <h1 class="text-sm-title font-bold drop-shadow-2xl">{title}</h1>
        <p class="text-description">{description}</p>
        <div class="flex items-center gap-2">
            {tags.map((tag) => (
                <Tag tag={tag}/>
            ))}
           
        </div>
    </div>
    <footer>
        {card_img && (
            <img src={card_img} alt="card image" class="w-[361px] h-[190px] bg-slate-950 rounded-b-lg"/>
        )}
    </footer>
</div>


